<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Admin</title>
  </head>
  <body>
    <h1>Admin Page</h1>
    <a href="{{ url_for('create')}}">Thêm nhân viên</a>
    <table border="1px">
      <thead>
        <tr>
          <th>Stt</th>
          <th>Name</th>
          <th>YOB</th>
          <th>Gender</th>
          <th>Phone</th>
          <th>Height</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for service in services %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ service.name}}</td>
            <td>{{ service.yob }}</td>
            <td>{{ "Nam" if service.gender == 1 else "Nữ" }}</td>
            <td>{{ service.phone }}</td>
            <td>{{ service.height }}</td>
            <td>
              <a href="{{ url_for('update', id_to_find = service.id) }}">Sửa</a>
              <a href="{{ url_for('delete', service_id = service.id) }}">Xóa</a>

            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
