<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Detail</title>
  </head>
  <body>
    <h1>Thông tin chi tiết</h1>
      <img src="{{ service.image }}">
      <h2><b>Name: </b> {{ service.name }}</h2>
      <p><b>YOB: </b> {{ service.yob }}</p>
      <p><b>Gender: </b> {{ service.gender }}</p>
      <p><b>Height: </b> {{ service.height }}</p>
      <p><b>Phone: </b> {{ service.phone }}</p>
      <p><b>Description</b> {{ service.description }}</p>
      <p><b>Measurements</b> {{ service.measurements }}</p>

  </body>
</html>
