<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mùa đông không lạnh</title>
  </head>
  <body>
    <h1>Thêm nhân viên mới</h1>
    <form action="{{ url_for('create') }}" method="post">
      <label>Tên</label>
      <input type="text" name="name" value=""><br>

      <label>Năm sinh</label>
      <input type="number" name="yob" value=""><br>

      <label>Giới tính</label>
      <input type="radio" name="gender" value="0">Female
      <input type="radio" name="gender" value="1">Male <br>

      <label>Số điện thoại</label>
      <input type="text" name="phone" value=""><br>

      <label>Phone</label>
      <input type="int" name="phone" value="">

      <!-- <label>Description</label>
      <input type="text" name="description" value="">

      <label>Measurements</label>
      <input type="list" name="measurements" value=""> -->

      <input type="submit">
    </form>
  </body>
</html>
