<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Database Intro</title>
    {% include "metadata.html" %}
    <link rel="stylesheet" href="../static/css/search.css">
  </head>
  <body>
    {% include "homepage/navigation.html" %}
    {% include "search/svinfo.html" %}
    <!-- <h1>Search</h1> -->
    <!-- source, alternative -->
    <!-- {% for service in all_services %}
      {% if service.gender == 0 %}
        <img src="../static/image/female-profile.jpg" alt="Ảnh nóng">
      {% else %}
        <img src="../static/image/male-profile.jpg" alt="Ảnh siêu nóng">
      {% endif %}
      <p>Name: {{ service.name }}</p>
      <p>Yob: {{ service.yob }}</p>
      <p>Gender: {{ "Male" if service.gender == 1 else "Female" }}</p>
      <p>Height: {{ service.height }}</p>
      <p>Phone number: {{ service.phone }}</p>
      <p>Address: {{ service.address }}</p>
      <p>Status: {{ service.status }}</p>
    {% endfor %} -->
  </body>
</html>
