<h2 class="font-weight-bold text-center">Chào mừng các bạn đã đến với Mùa Đông Không Lạnh</h2>
<p class="font-lobster text-center">"Chúng tôi ở đây là để giúp bạn có mối quan hệ tốt đẹp với gia đình và người thân trong khi vẫn giữ được sự tự do và riêng tư, cũng như quyết định của bản thân bạn"</p>
<div class="d-flex justify-content-around h-200px">
    <div class="d-flex h-100 col-md-5 bg-female align-items-center justify-content-end pr-5">
        <span class="text-light font-weight-bold">Bạn là Nam</span>
    </div>
    <div class="d-flex h-100 col-md-5 bg-male align-items-center justify-content-start pl-5">
        <span class="text-light font-weight-bold">Bạn là Nữ</span>
    </div>
</div>
