<div class="mt-3 h-500px px-0 pt-3 pb-2 bg-info">
  <h3 class="text-center text-light font-weight-bold text-capitalize my-4">khách hàng bình chọn</h3>
  <div class="d-flex w-100 justify-content-around mb-5">
    <div class="w-150px h-150px bg-dark"><img src="../../static/image/lightning.jpg" alt="..." class="img-thumbnail"></div>
    <div class="w-150px h-150px bg-dark background-attachment-scroll" style="background-image: url('../../static/image/lightning.jpg')"></div>
    <div class="w-150px h-150px bg-dark"></div>
    <div class="w-150px h-150px bg-dark"></div>
  </div>
  <div class="d-flex w-100 justify-content-around">
    <div class="w-150px h-150px bg-dark"></div>
    <div class="w-150px h-150px bg-dark"></div>
    <div class="w-150px h-150px bg-dark"></div>
    <div class="w-150px h-150px bg-dark"></div>
  </div>

</div>
