<div class="h-500px bg-secondary">
  <h2 class="font-weight-bold text-center text-light my-2 mb-0">Các gói dịch vụ</h2>
  <div class="card-deck px-3">
    <div class="card">
      <h5 class="card-header text-muted">Gói cơ bản</h5>
      <div class="card-body">
        <!-- <h5 class="card-title">Special title treatment</h5> -->
        <p class="card-text">Dẫn bạn về ra mắt</p>
        <p class="card-text">Ăn cơm cùng gia đình</p>
        <p class="card-text text-muted">Không nắm tay hay tiếp xúc dưới bất kỳ hình thức nào</p>
        <p class="card-text text-muted">Bạn không phụ giúp gia đình các công việc nấu nướng dọn dẹp</p>
      </div>
      <div class="card-footer d-flex justify-content-end"><a href="#" class="btn btn-dark"> <i class="mr-2 ml-0 fas fa-heart"></i>Tìm hiểu thêm</a></div>
    </div>
    <div class="card">
      <h5 class="card-header text-light bg-secondary ">Gói tiêu chuẩn</h5>
      <div class="card-body">
        <!-- <h5 class="card-title">Special title treatment</h5> -->
        <p class="card-text">Dẫn bạn về ra mắt</p>
        <p class="card-text">Ăn cơm cùng gia đình</p>
        <p class="card-text">Cho phép nắm tay thể hiện quan tâm</p>
        <p class="card-text text-muted">Bạn không phụ giúp gia đình các công việc nấu nướng dọn dẹp</p>
      </div>
      <div class="card-footer d-flex justify-content-end"><a href="#" class="btn btn-dark"> <i class="mr-2 ml-0 fas fa-heart"></i>Tìm hiểu thêm</a></div>
    </div>
    <div class="card">
      <h5 class="card-header text-light bg-dark">Gói cao cấp</h5>
      <div class="card-body">
        <!-- <h5 class="card-title">Special title treatment</h5> -->
        <p class="card-text">Dẫn bạn về ra mắt</p>
        <p class="card-text">Ăn cơm cùng gia đình</p>
        <p class="card-text">Không nắm tay hay tiếp xúc dưới bất kỳ hình thức nào</p>
        <p class="card-text">Bạn sẽ phụ giúp gia đình các công việc nấu nướng dọn dẹp</p>
        <p class="card-text text-primary">Và nhiều ưu đãi bất ngờ khác</p>
      </div>
      <div class="card-footer d-flex justify-content-end"><a href="#" class="btn btn-dark"> <i class="mr-2 ml-0 fas fa-heart"></i>Tìm hiểu thêm</a></div>
    </div>
  </div>

</div>
