.w-100 {
  width: 100%;
}
.w-1920px {
  width: 1920px;
}
.h-700px {
  height: 700px;
}
.text-VT323 {
  font-family: 'Vt323', monospace;
  font-size: 30px;
}
.bg-image {
  background-image: url("http://t.wallpaperweb.org/wallpaper/nature/1920x1080/canadanaturecorner1920x1080wallpaper10144.jpg");
  background-size: cover;
  background-attachment: scroll;
}
.bg-avatar {
  background-image: url("https://i.pinimg.com/originals/39/e9/b3/39e9b39628e745a39f900dc14ee4d9a7.jpg");
  background-size: contain;
  background-attachment: scroll;
}
.text-uppercase {
  text-transform: uppercase;
  padding: 20px;
}
.text-center {
  text-align: center;
}
.text-white {
  color: white;
}
.mr-auto {
  margin: auto;
}
#flex-box-avatar {
  display: flex;
  justify-content: center;
  height: 400px;
}
#flex-box-name {
  display: flex;
  justify-content: center;
  height: 35px;
}
.bg-scroll {
  background-attachment: fixed;
}
.bg-blue {
  background-color: blue;
}
.w-90 {
  width: 90%;
}
.h-500px {
  height: 500px;
}
.d-inline-block {
  display: inline-block;
}
.w-20 {
  width: 20%;
}
.h-80 {
  height: 80%;
}
.w-400px {
  width: 400px;
}
.h-400px {
  height: 400px;
}
.bg-red {
  background-color: red;
}
.padiing {
  padding: 20px 20px 20px 20px;
}
.mr-20 {
  margin: 20px;
}
.border-radius {
  border-radius: 50%;
}
.h-32px {
  height: 32px;
}
.p-30px {
  padding: 30px 0px 0px 0px;
}
.border-top {
  border-top: 3px solid white;
}
