.text-uppercase {
  text-transform: uppercase;
}
.text-red {
  color: red
}
.font-size {
  font-size: 40px
}
.font-style {
  font-family: 'Gugi', cursive;
}
.font-weight-bold {
  font-weight: bold;
}
.text-cappitalize {
  text-transform: capitalize;
}
.bg-lightblue {
  background-color: #34bc59;
}
.h-500px {
  height: 500px
}
#background {
  background-image: url('https://wallpapercave.com/wp/JsY2kJ0.jpg');
  background-size: cover;
  background-attachment: fixed;
}
/* parallax */
.w-300px {
  width: 300px
}
.w-20 {
  width: 20%;
}
.h-100px {
  height: 100px;
}
.bg-green {
  background-color: green;
}
.d-inline-block {
  display: inline-block;
}
.h-30px {
  height: 30px;
}
.bg-brown {
  background-color: brown;
}
#parent {
  padding: 10px 20px;
}
#center-element {
  margin: 10px 20px 30px 100px;
  border: 2px dashed black;
}
.mr-60 {
  margin: 0 59.5% 0px 0px
}
