<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% for customer in all_customers %}
      {% if customer.gender == 0 %}
        <img src="../../static/image/female-profile.jpg" alt="Ảnh nóng">
      {% else %}
        <img src="../../static/image/male-profile.jpg" alt="Ảnh siêu nóng">
      {% endif %}
      <p>Name: {{ customer.name }}</p>
      <p>Gender: {{ "Male" if customer.gender == 1 else "Female" }}</p>
      <p>Phone number: {{ customer.phone }}</p>
      <p>Job: {{ customer.job }}</p>
      <p>Company: {{ customer.company }}</p>
      <p>Contacted: {{ customer.contacted }}</p>
    {% endfor %}
  </body>
</html>
