<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign up</title>
  </head>
  <body>
    <h1>Sign up</h1>
    <form method="post">
      <b><label>Fullname:</label> </b><br>
      <input type="text" name="fullname" required placeholder="Nguyen Van A"><br>

      <b><label>Email:</label> </b><br>
      <input type="text" name="email" required placeholder="email@gmail.com"><br>

      <b><label>Username:</label> </b><br>
      <input type="text" name="username" maxlength="16" required placeholder="c4e16"><br>

      <b><label>Password:</label> </b><br>
      <input type="text" name="password" required placeholder="C4e"><br>

      <input type="submit" value="Sign up"><br>

    </form>

  </body>
</html>
