.font-lobster {
  font-family: 'Lobster', cursive;
}
.mb-300px {
  margin-bottom: 300px;
}
.bg-list {
  background-image: url("../../static/image/2.jpg");
  background-size: contain;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-female {
  background-image: url("../image/female.jpg");
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-male {
  background-image: url("../image/male.jpg");
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center;
}
.h-200px {
  height: 200px;
}
.h-500px {
  height: 500px;
}
.w-600 {
  width: 600px;
}
.w-150px {
  width: 150px;
}
.h-70 {
  height: 70%;
}
.h-150px {
  height: 150px;
}
.h-500px {
  height: 500px;
}
.font-22px {
  font-size: 22px;
}
